html, body {

    height: 100%;
    margin: 0;
    padding: 0;
    
}

body {

    background-color: rgb(197, 187, 173);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {

    background-color: rgb(97, 137, 137);

}

.navbar {

    background-color: rgb(97, 137, 137);
    box-shadow: 0, 2px, 4px rgb(0, 0, 0,4);
}

.navbar .nav-link:hover {

    text-decoration: underline;
}

.logo {

    height: 50px;
    width: auto;
}

.item_right {

    margin-left: auto;
}

.img-card {

    max-height: 300px;

}

.fw-bold {

    color: rgb(97, 137, 137);
}

.table, tr, th {

    color: rgb(97, 137, 137);
}

main {

    flex: 1;
}

h1, h2, h3 {

    font-weight: 600;
    color: rgb(78, 76, 76);
}

.card {

    box-shadow: 0, 2px, 4px rgb(0, 0, 0,4);
}