html, body {

    height: 100%;
    margin: 0;
    padding: 0;
    
}

body {

    background-color: #fdcc7d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {

    background-color: #9d4edd;

}

.navbar {

    background-color: #9d4edd;
    box-shadow: 0, 2px, 4px rgb(0, 0, 0,4);
}

.navbar .nav-link:hover {

    text-decoration: underline;
}

.logo {

    height: 50px;
    width: auto;
}

.item_right {

    margin-left: auto;
}

.img-card {

    max-height: 300px;

}

label {

     color: rgb(97, 137, 137);
}

h1, h2, h3 {

    font-weight: 600;
    color: rgb(97, 137, 137);
}

.card {

    box-shadow: 0, 2px, 4px rgb(0, 0, 0,4);
}

/*Wrapper per select-option Destinazioni */
.wrapper{
    
    width:auto;
    height: auto;
}

.cl {

    background-color: #dedef8;
}