html, body {
    
    height: 100%;
    margin: 0;
    padding: 0;
    
}

body {

    background-color: #fdcc7d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {

    background-color: #9d4edd;
    margin-top: auto;


}

.navbar {

    background-color: #9d4edd;
    box-shadow: 0, 2px, 4px rgb(0, 0, 0,4);
}

.navbar .nav-link:hover {

    text-decoration: underline;
}

.logo {

    height: 50px;
    width: auto;
}

.item_right {

    margin-left: auto;
}

.img-card {

    max-height: 300px;

}

label {

     color: rgb(97, 137, 137);
}

h1, h2, h3 {

    font-weight: 600;
    color: rgb(97, 137, 137);
}

.card {

    box-shadow: 0, 2px, 4px rgb(0, 0, 0,4);
}

/*Wrapper per select-option Destinazioni */
.wrapper{
    
    width:auto;
    height: auto;
}

.cl {

    background-color: #dedef8;
}

.main {

    flex-grow: 1;
}

table tr td, table tr th{
  background-color: #dedef8  !important;
}

.pagination_personal .page-link{

    color: black;
    background-color: #9d4edd;
    border-color: #FAEBD7;

}


.pagination_personal .page-link:hover{
    
    color: black;
    background-color: #b871f2;
    border-color: #a2a19f;

}

.pagination_personal .page-item.active .page-link {

    color: black;
    background-color: #b871f2;;
    border-color: #a2a19f;

}